<p>
	<strong>First name:</strong>
	<%= @profile.first_name %>
</p>
<p>
	<strong>Last name:</strong>
	<%= @profile.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Edit profile
</button>
<%= link_to "Edit user", edit_user_path(current_user) %>
<%= render 'modal' %>