<div class="modal fade hide" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit admin</h4>
      </div>
      <div class="modal-body">
        <%= form_for @admin, remote: true, url: { action: "update" }, html: { multipart: :true } do |f| %>
            <p>
              <%= f.label :username %>
              <%= f.text_field :username %>
            </p>
            <p>
              <%= f.label :email %>
              <%= f.text_field :email %>
            </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit 'Save', {class: "btn btn-primary"} %>
            </div>
        <% end %>
        </div>
  </div>
</div>