<h1> Edit admin profile </h1>
<% if @profile_admin.errors.any? %>
    <div class="errors_messages">
      <h2> <%= pluralize(@profile_admin.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @profile_admin.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for(@profile_admin, remote: true, url: { action: "update" }) do |f| %>
    <p>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </p>
<% end %>